.label {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    font-size: large;
    padding: 1rem;
}

.input {
    border-radius: 8px;
    padding: .5rem;
    height: 50px;
    margin-top: 10px;
}

.submit-button {
    max-width: 600px;
    padding: .3rem;
    height: 50px;
    font-size: 16px;
    background-color: gray;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;

}