.card {
    width: 750px;
    height: 100%;
    border: 2px dashed #ffffff;
    border-radius: 10px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    overflow-y: scroll

}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.card-title {
    text-align: center;
    font-weight: 400;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}

