.card {
    width: 100%;
    height: 100%;
    border: 2px dashed #ffffff;
    border-radius: 10px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
    overflow-y: auto
}

.card::-webkit-scrollbar {
    width: 12px;
}

.card::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255); 
    border-radius: 10px;
}

.card::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255); 
}


@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.card-title {
    text-align: center;
    font-weight: 400;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}

