.card {
    max-width: 750px;
    height: 100%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.card-title {
    text-align: center;
    font-weight: 400;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}

.card-description {
    text-align: justify;
    padding: 20px;
    font-weight: 100;
    white-space: pre-wrap;
    text-indent: 0 !important;
}