.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main {
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .container{
    height: 100%;
  }
  .main{
    height: 100%;
  }
}